/.idea/workspace.xml
/node_modules
/.idea/dictionaries/

/dev
/lib
!/lib/chevrotain.d.ts
!/lib/chevrotain.js
!/lib/chevrotain.min.js
/.tscache
.baseDir.ts
/bower_components

/sauce.json

/npm-debug.log