/.idea
**/node_modules/

# build artifacts
/packages/website/docs/.vuepress/dist/
/packages/types/dev
/packages/**/lib
/packages/**/coverage
/packages/**/.nyc_output
/packages/**/gh-pages
/packages/chevrotain/lib_esm

/examples/webpack/lib
/examples/implementation_languages/typescript/*.js
/examples/implementation_languages/coffeescript/*.js
/examples/parser/minification/gen/

# prettier ignores
/packages/cst-dts-gen/test/snapshots/**/output.d.ts
