/packages/chevrotain/lib
/packages/chevrotain/dev
/packages/chevrotain/scripts/gh-pages
/examples/parser/minification/gen/
/examples/parser/webpack/gen/
/examples/implementation_languages/typescript/typescript_json.js
/examples/implementation_languages/coffeescript/coffeescript_json.js
/packages/chevrotain/docs/.vuepress/dist
**/node_modules/
/examples/parser/webpack/lib

.nyc_output

