h1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 18px;
    color: #2b2f8d;
    text-align: -webkit-auto;
    padding-left: 7px;
    padding-top: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    float: left;
}

h3 {
    font-family: Arial;
    font-size: 13px;
    color: #201a8d;
    text-align: -webkit-auto;
    margin-bottom: 5px;
}

.verticalSeparator {
    width: 0.7vw;
    height: 100vh;
    float: left;
}

.horizontalSeparator {
    width: 100%;
    height: 0.7vw;
}

.sideEditor {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 49.63%;
    display: block;
}

.leftSide {
    float: left;
}

.rightSide {
    float: left;
}

.select {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.boxHeader {
    background-color: lightgrey;
    overflow: auto;
    border-bottom: solid;
    border-color: #263666;
}

.diagramHeader {
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: -8px;
    text-align: center;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

.diagramHeaderDef {
    background-color: #31BA5F;
}

svg.railroad-diagram g.non-terminal rect.diagramRectUsage {
    color: green;
    fill: yellow;
    stroke: 5;
}

.markEvalError {
    font-size: 1.2em;
    font-weight: bolder;
    color: red;
}

.markTextError {
    display: inline-block;
    position: relative;
}

.markTextError:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.8em;
    font-weight: bolder;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 6px;
    overflow: hidden;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

svg {
    width: 100%;
}

.hrInCardHeader {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    color: #2b2f8d;
    background-color: #2b2f8d;
    height: 1px;
    border: 0;
    opacity: 0.5;
}
