h1 {
    font-family: Arial;
    font-size: 20px;
    color: #4f93ff;
    text-align: -webkit-auto;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 0px;
}

h3 {
    font-family: Arial;
    font-size: 13px;
    color: #4f93ff;
    text-align: -webkit-auto;
}

.diagramHeader {
    font-family: Arial;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: -15px;
    color: #4f93ff;
    text-align: left;
}

.markTextError {
    display: inline-block;
    position: relative;
}

.markTextError:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.8em;
    font-weight: bolder;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 6px;
    overflow: hidden;
}

.textArea {
    background-color: #ffffff;
    font-family: consolas, "courier new", monospace;
    font-size: 15px;
    height: 100%;
    width: 99%;
    padding-top: 8px;
    resize: vertical;
    border: none;
}

.textareawrapper {
    width: 98%;
    height: 92%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.rightPart {
    float: right;
    width: 49.8%;
}

.leftPart {
    float: left;
    width: 49.8%;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 8px;
    padding-bottom: 8px;
}

svg {
    width: 100%;
}

.errorMessage {
    color: #ff0033;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    padding-left: 8px;
    font-weight: normal;
}

.checkboxLabel {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
}

button {
    font-family: Arial;
    font-size: 15px;
}

.hrInCardHeader {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    color: #4f93ff;
    background-color: #4f93ff;
    height: 1px;
    border: 0;
    opacity: 0.5;
}
