h1 {
    font-family: Arial;
    text-decoration: underline;
    font-weight: normal;
    font-size: 16px;
    color: #2b2f8d;
    text-align: -webkit-auto;
    padding-left: 14px;
    padding-top: 8px;
    margin-top: 0px;
}

h3 {
    font-family: Arial;
    font-size: 13px;
    color: #201a8d;
    text-align: -webkit-auto;
}

.diagramHeader {
    text-decoration: underline;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: -8px;
    text-align: center;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

.diagramHeaderDef {
    background-color: #31BA5F;
}

svg.railroad-diagram g.non-terminal rect.diagramRectUsage {
    color: green;
    fill: yellow;
    stroke: 5;
}

.markTextError {
    display: inline-block;
    position: relative;
}

.markTextError:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.8em;
    font-weight: bolder;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 6px;
    overflow: hidden;
}

/* TODO: remove this if we make the output into a code mirror too*/
.textArea {
    background-color: #ffffff;
    font-family: consolas, "courier new", monospace;
    font-size: 15px;
    height: 100%;
    width: 99%;
    padding-top: 8px;
    resize: vertical;
    border: none;
}

.textareawrapper {
    width: 98%;
    height: 92%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

/* TODO: consider removing this width 100% and make the div in which the SVG reside
   resize to fit its contents width wise */
svg {
    width: 100%;
}

.hrInCardHeader {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 0px;
    color: #2b2f8d;
    background-color: #2b2f8d;
    height: 1px;
    border: 0;
    opacity: 0.5;
}
