svg.railroad-diagram {
    /*background-color: hsl(30,20%,95%);*/
}
svg.railroad-diagram path {
    stroke-width: 3;
    stroke: black;
    fill: rgba(0,0,0,0);
}
svg.railroad-diagram text {
    font: bold 14px monospace;
    text-anchor: middle;
}
svg.railroad-diagram text.label {
    text-anchor: start;
}
svg.railroad-diagram text.comment {
    font: italic 12px monospace;
}
svg.railroad-diagram g.non-terminal rect {
    fill: hsl(223, 100%, 83%);
}
svg.railroad-diagram rect {
    stroke-width: 3;
    stroke: black;
    fill: hsl(190, 100%, 83%);
}
