name: Continuous Integration
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  # See: https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  full_build:
    name: Full Build (node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 12.x
          - 14.x
          - 16.x
          - 17.x
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: yarn
      - name: Run CI
        run: yarn run ci
