name: Continuous Integration
on:
  push:
    branches:
      - master*
  pull_request:
    branches:
      - master*
jobs:
  full_build:
    name: Full Build (node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 20.x
          - 22.x
          - 24.x
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}

      # pnpm version is taken form package.json `packageManager`
      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run ci
