name: Continuous Integration
on: [push, pull_request]
jobs:
  tests:
    name: Full Build (node ${{ matrix.node_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 12.x
          - 14.x
          - 16.x
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: yarn
      - name: Run CI
        run: yarn run ci
