name: Release
on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC (npmjs trusted publishers)
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4
        with:
          version: 10.23.0
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm run ci
      - name: Publish to NPM
        run: pnpm run release:publish
